/* 






******************************************************
MODIFICATION TO STYLE.CSS WILL BE ERASED
IF THEY ARE NOT ALSO ADDED TO STYLE.SCSS

SCSS (SASS) compiles into CSS. You can download a compiler
or just modify both files and Stan will compile it.
******************************************************






*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

$red: #9E352C;
$yellow: #E6E8A9;
$green: #93C28C;
$blue: #2E5A5C;
$black: #2B2623;

$rush_color: $red;
$party_color: $yellow;
$study_color: $green;
$cs_color: $blue;

@mixin gradient_inverse($color, $amount: 3%) {
	background-image: linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -o-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -moz-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -webkit-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -ms-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -webkit-gradient(linear, left bottom, left top, lighten($color, $amount), darken($color, $amount));
}
@mixin gradient($color, $amount: 3%) {
	background-image: linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -o-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -moz-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -webkit-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -ms-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -webkit-gradient(linear, left bottom, left top, darken($color, $amount), lighten($color, $amount));
}

@mixin shadow($width: 5px, $color: #000, $x: 0px, $y: 0px){
	-moz-box-shadow: $x $y $width $color;
	-webkit-box-shadow: $x $y $width $color; 
	box-shadow: $x $y $width $color;
}

@mixin inner-shadow($width: 5px, $color: #000, $x: 0px, $y: 0px){
	-moz-box-shadow: inset $x $y $width $color;
	-webkit-box-shadow: inset $x $y $width $color; 
	box-shadow: inset $x $y $width $color;
}


@mixin rounded-corner($radius){
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;	
}
.clear{
	clear:both;
}

body{
	font-family: 'PT Sans Narrow', sans-serif;
}
strong{
	font-weight:bold;
}
button, button.disabled:hover{
	cursor: pointer;
	border: 1px solid #aaa;
	background: #eee;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ddd');
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background: -moz-linear-gradient(top,  #eee,  #ddd);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
button:hover{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#eee');
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
	background: -moz-linear-gradient(top,  #ddd,  #eee);

}
button.disabled, button.disabled:hover{
	cursor:default;
	background: #ddd;
	color: #888;
}
button.active, button.active:hover{
	cursor: default;
	@include gradient-inverse(lighten($red, 20%), 5%);
	color: white;
}
header{
	width:100%;
	line-height: 2.5em;
	background-color: #2B2623;
	color: #f0f0f0;
}
header h1{
	font-size: 1.5em;
	margin: 0 .5ex;
}

nav{
	overflow: hidden;
	$nav_height: 50px;
	padding: 0;
	height: $nav_height;
	@include shadow();
	font-size: 200%;
	button{
		height: 40px;
		font-size: 70%;
		.val{
			position:relative;
			display:block;
			right: -20px;
			top: -6px;
			@include gradient(lighten($red, 25%), 10%);
			@include rounded-corner(20px);
			font-size: 60%;
			color: #fff;
			border: 1px solid darken($red, 25%);
		}
	}
	object{
		max-width:30px;
		height:30px;
	}
	ul{
		float:left;
		li{
			height: $nav_height;
			padding-top:5px;
			float:left;
			margin: 0 .2em;
		}
	}
	ul#screens{
		float:right;
	}
	ul#stats{
		margin-right: 10px;
		object{
			margin-right: 5px;
			margin-left: 10px;
		}
		float:right;
/* 		li.rep{display:inline; width:90px;}  // safari fix */
	}
	ul#skills{
		float:right;
		h3{
			font-size:50%;
			text-align: center;
		}
		.bar{
			height: 20px;
			background-image: url('../images/vert_line.gif');
			background-repeat: repeat-y;
			.fill{
				height: 20px;
			}
		}
		object{
			width: .8em;
			height: .8em;
			margin-right: .2em;
		}
	}
	ul#dev{
		margin-right: 20px;
		float:right;
		button{
			@include gradient(#F7FFBC);
		}
		button:hover{
			@include gradient-inverse(#F7FFBC);
		}
	}
}
nav.bidMeeting{
	text-align: center;
	background-color: $red;
	color: #fff;
	p{
		padding-top: 10px;
	}
	button{
		display:none;
		font-size: 40%;
		margin-left: 10px;
		height: 30px;
		vertical-align:top;
	}
}
nav.bidMeeting.over{
	background-color: darken($green, 40%);
	button{
		display:inline-block;
	}
}
#bidScreen{
	overflow: scroll;
}
/* Status Bars */
.skills{
	.bar{
		width: 120px;
		border-width: 1px;
		border-style: solid;
		display: inline-block;
		background-repeat: repeat-y;
		background-position: -2px, 0;	
	}
	.fill{
		height: 1.1em;
		opacity: .8;
	}
	.rush{
		.bar{
			border-color: darken($rush_color, 20%);
			background-color: lighten($rush_color, 57%);
		}
		.fill{
			background-color: $rush_color;
		}
		label{
			color: darken($rush_color, 20%);
		}
	}
	.party{
		.bar{
			border-color: darken($party_color, 40%);
			background-color: lighten($party_color, 20%);
		}
		.fill{
			background-color: darken($party_color, 20%);
		}
		label{
			color: darken($party_color, 40%);
		}
	}
	.cs{
		.bar{
			border-color: darken($cs_color, 20%);
			background-color: lighten($cs_color, 67%);
		}
		.fill{
			background-color: $cs_color;
		}
		label{
			color: darken($cs_color, 20%);
		}
	}
	.study{
		.bar{
			border-color: darken($study_color, 20%);
			background-color: lighten($study_color, 30%);
		}
		.fill{
			background-color: $study_color;
		}
		label{
			color: darken($study_color, 20%);
		}
	}

}

/* Canvas stuff */
#background{
	position:absolute;
	z-index:0;
}
#canvas{
	position: absolute;
	z-index: 10;
}

/* Results */
#results{
}
h2{
	font-size: 300%;
	font-weight:bold;
	margin: 20px 0 10px 20px;
}
#results p{
	margin: 1em 0;
	font-size: 200%;
}


/* Rushees/Members */
ul.rushees, ul.members{
	font-size: 1em;
	canvas.face{
		float:left;
		margin-right: 10px;
	}
	canvas.gauge{
	
	}
	button.bid{
		width: 100px;
		font-size: 1.2em;
		height: 1.5em;
		margin-top: 11px;
	}
	p.interest{
		font-size:.7em;
		text-align: center;
		width:100px;
		display:inline-block;
	}
	button.declined{
		@include gradient-inverse($red);
	}
	button.accepted{
		@include gradient-inverse($green);
	}
	button.declined, button.accepted{
		cursor: default;
	}
	.name{
		font-size: 170%;
		font-weight:bold;
		margin-bottom: 5px;
	}
	ul.skills{
		float:left;
		width: 170px;
	}
	ul.skills li{
		width: 100%;
		clear:both;
		float:none;
		margin: 3px 0;
	}
	object{
		height: 1.2em;	
		width: 1.2em;
		margin-right: .4em;
		display:inline-block;
	}
}

/* Buy */
#buyScreen li {
  width: 200px;
  float: left;
  margin: 30px; }

#buyScreen img {
  float: left;
  margin-right: 50px; 
  width: 150px; 
  height: 130px; 
  margin-bottom: 10px;
  }

#buyScreen button.buy {
  width: 100px;
  font-size: 1em;
  height: 1.6em;
  margin-top: 0px; }
  
#buyScreen button.buy.bought {
  color: DimGray;
  background-image: linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -o-linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -moz-linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -webkit-linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -ms-linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -webkit-gradient(linear, left bottom, left top, #9cc796, #8abd82); }  
  
#buyScreen button.bought {
  width: 100px;
  font-size: 1em;
  height: 1.6em;
  margin-top: 0px;
  background-image: linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -o-linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -moz-linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -webkit-linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -ms-linear-gradient(bottom, #9cc796, #8abd82);
  background-image: -webkit-gradient(linear, left bottom, left top, #9cc796, #8abd82); }

#buyScreen .name {
  font-size: 200%;
  font-weight: bold;
  height: 60px;
  margin-bottom: 5px; }
  
#buyScreen .descript {
  height: 200px;
  margin-bottom: 5px;
  }
  
#buyScreen .price {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 5px;
  }

  /* Build */
#goalScreen .name {
  font-size: 200%;
  font-weight: bold;
  margin-top: 10px; }

#goalScreen .goalStatus {
  font-size: 125%;}

#menu{
	h1{
		font-size: 300%;
		font-weight:bold;
		text-align:center;
		margin: .5em 0 .2em 0;
		.logo{
			margin-bottom: 20px;
		}
	}
	h2{
		font-weight: 100;
		font-size: 200%;
		text-align:center;
		margin: .2em 0 .5em 0;
	}
	p.intro, p.challenge{
		margin: 1em auto;
		width: 80%;
		max-width: 500px;
		font-size: 110%;
		text-align:center;
	}
	p.challenge{
		font-weight: bold;
	}
	.options{
		text-align:center;
		button{
			font-size: 200%;
			margin: .5em;
		}
	}
	div.quest{
		margin: 0 auto;
		width: 80%;
		max-width: 500px;
		ul.quests{
			li{
				margin: 10px;
				h3{
					font-weight: bold;
				}
			}
		}
	}
}
#planScreen, #results{
	ul.quadrants{
		float:left;
		width:50%;
		ul.members{
			z-index: 100;
			width: 100%;
			position: absolute;
			top:0;
			overflow: auto;
			li{
				width: 80px;
				height: 45px;
				float:left;
				clear:none;
				background-color: #fff;
				opacity: .8;
				margin: 5px;
				border: 1px solid #999;
				p.name{
					font-size: 80%;
					font-weight: normal;
					width:100%;
					overflow:hidden;
					margin:0;
					padding:0 0 3px 0;
					height:1em;
				}
				object{
					display:none;
				}
				ul.skills{
					width: 35px;
					li{
						margin: 2px 0;
						float:none;
						width: 100%;
						height: .25em;
					}
					.bar{
						font-size: .2em;
						width: 100%;
						display:block;
					}
				}
	
				.face{
					height: 30px;
					margin-right: 4px;
				}			
			}

		}
		li.quadrant{
			position: relative;
			width: 50%;
			float:left;
		}
		li.rush.quadrant{
			background-color: $rush_color;
		}
		li.party.quadrant{
			background-color: $party_color;
		}
		li.cs.quadrant{
			background-color: $cs_color;
		}
		li.study.quadrant{
			background-color: $study_color;
		}
	}
}	
/* Bid Screen */
ul.rushees{
	li{
		width: 420px;
		float:left;
		margin: 20px;
	}
}

/* Plan Screen */
#planScreen{
	[draggable] {
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
	.instruct {
                font-size: 135%;  
        }
	.nextEvent{
		text-align: center;
		line-height: 35px;
		font-size: 150%;
		background-color: #eee;
		border-width: 1px 0;
		border-color: #999;
		border-style: solid;
		p{
			margin-left: 10px;
		}
		.val{
			font-weight: bold;
		}
	}
	h3{
		font-size: 300%;
		text-align:center;
		margin-top: .3em;
	}
	.quadrant_icon{
		width: 100%;
		margin-top: .5em;
		opacity: .9;
	}
	ul.members{
		float:right;
		width: 300px;
		overflow-y: scroll;
		overflow-x: hidden;
		li.member{
			padding: 10px 10px 10px 10px;
			cursor:move;
			width: 100%;
			clear:both;
			height: 150px;
			margin: 5px;
                        border: 1px solid #999;
		}
		li.member:hover{
			background-color: #eee;
			border: 1px dashed #ccc;
		}
		.name{
			padding-top: 10px;
			font-size: 150%;
		}
	}
}
