@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

$red: #9E352C;
$yellow: #E6E8A9;
$green: #93C28C;
$blue: #2E5A5C;
$black: #2B2623;

$rush_color: $red;
$party_color: $yellow;
$study_color: $green;
$cs_color: $blue;

@mixin gradient_inverse($color, $amount: 3%) {
	background-image: linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -o-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -moz-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -webkit-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -ms-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -webkit-gradient(linear, left bottom, left top, lighten($color, $amount), darken($color, $amount));
}
@mixin gradient($color, $amount: 3%) {
	background-image: linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -o-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -moz-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -webkit-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -ms-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -webkit-gradient(linear, left bottom, left top, darken($color, $amount), lighten($color, $amount));
}

@mixin shadow($width: 5px, $color: #000, $x: 0px, $y: 0px){
	-moz-box-shadow: $x $y $width $color;
	-webkit-box-shadow: $x $y $width $color; 
	box-shadow: $x $y $width $color;
}

@mixin inner-shadow($width: 5px, $color: #000, $x: 0px, $y: 0px){
	-moz-box-shadow: inset $x $y $width $color;
	-webkit-box-shadow: inset $x $y $width $color; 
	box-shadow: inset $x $y $width $color;
}


@mixin rounded-corner($radius){
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;	
}
.clear{
	clear:both;
}

body{
	font-family: 'PT Sans Narrow', sans-serif;
}
strong{
	font-weight:bold;
}
button, button.disabled:hover{
	cursor: pointer;
	border: 1px solid #aaa;
	background: #eee;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ddd');
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background: -moz-linear-gradient(top,  #eee,  #ddd);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
button:hover{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#eee');
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
	background: -moz-linear-gradient(top,  #ddd,  #eee);

}
button.disabled, button.disabled:hover{
	cursor:default;
	background: #ddd;
	color: #888;
}
button.active, button.active:hover{
	cursor: default;
	@include gradient-inverse(lighten($red, 20%), 5%);
	color: white;
}
header{
	width:100%;
	line-height: 2.5em;
	background-color: #2B2623;
	color: #f0f0f0;
}
header h1{
	font-size: 1.5em;
	margin: 0 .5ex;
}

nav{
	overflow: hidden;
	$nav_height: 50px;
	padding: 0;
	height: $nav_height;
	@include shadow();
	font-size: 200%;
	button{
		height: 40px;
		font-size: 70%;
		.val{
			position:relative;
			display:block;
			right: -20px;
			top: -6px;
			@include gradient(lighten($red, 25%), 10%);
			@include rounded-corner(20px);
			font-size: 60%;
			color: #fff;
			border: 1px solid darken($red, 25%);
		}
	}
	object{
		max-width:30px;
		height:30px;
	}
	ul{
		float:left;
		li{
			height: $nav_height;
			padding-top:5px;
			float:left;
			margin: 0 .2em;
		}
	}
	ul#screens{
		float:right;
	}
	ul#stats{
		margin-right: 10px;
		object{
			margin-right: 5px;
			margin-left: 10px;
		}
		float:right;
		li.rep{display:inline; width:90px;}  // safari fix
	}
	ul#skills{
		float:right;
		h3{
			font-size:50%;
			text-align: center;
		}
		.bar{
			height: 20px;
			.fill{
				height: 20px;
			}
		}
	}
	ul#dev{
		margin-right: 20px;
		float:right;
		button{
			@include gradient(#F7FFBC);
		}
		button:hover{
			@include gradient-inverse(#F7FFBC);
		}
	}
}
nav.bidMeeting{
	text-align: center;
	background-color: $red;
	color: #fff;
	p{
		padding-top: 10px;
	}
	button{
		display:none;
		font-size: 40%;
		margin-left: 10px;
		height: 30px;
		vertical-align:top;
	}
}
nav.bidMeeting.over{
	background-color: darken($green, 40%);
	button{
		display:inline-block;
	}
}
/* Status Bars */
.bar{
	width: 120px;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
}
.fill{
	height: 1.1em;
}
.rush{
	.bar{
		border-color: darken($rush_color, 20%);
		background-color: lighten($rush_color, 57%);
	}
	.fill{
		background-color: $rush_color;
	}
	label{
		color: darken($rush_color, 20%);
	}
}
.party{
	.bar{
		border-color: darken($party_color, 40%);
		background-color: lighten($party_color, 15%);
	}
	.fill{
		background-color: $party_color;
	}
	label{
		color: darken($party_color, 40%);
	}
}
.cs{
	.bar{
		border-color: darken($cs_color, 20%);
		background-color: lighten($cs_color, 67%);
	}
	.fill{
		background-color: $cs_color;
	}
	label{
		color: darken($cs_color, 20%);
	}
}
.study{
	.bar{
		border-color: darken($study_color, 20%);
		background-color: lighten($study_color, 30%);
	}
	.fill{
		background-color: $study_color;
	}
	label{
		color: darken($study_color, 20%);
	}
}

/* Canvas stuff */
#background{
	position:absolute;
	z-index:0;
}
#canvas{
	position: absolute;
	z-index: 10;
}

/* Results */
#results{
	margin: 10px;
}
h2{
	font-size: 300%;
	font-weight:bold;
	margin: 20px 0 10px 20px;
}
#results p{
	margin: 1em 0;
	font-size: 200%;
}

/* Bid Meeting  */
#bidScreen{
	ul.rushees{
		li{
			width: 420px;
			float:left;
			margin: 20px;
		}
		canvas.face{
			float:left;
			margin-right: 10px;
		}
		canvas.gauge{
		
		}
		button.bid{
			width: 100px;
			font-size: 1.2em;
			height: 1.5em;
			margin-top: 11px;
		}
		p.interest{
/* 			text-transform: uppercase; */
			font-size:.7em;
			text-align: center;
			width:100px;
			display:inline-block;
		}
		button.declined{
			@include gradient-inverse($red);
		}
		button.accepted{
			@include gradient-inverse($green);
		}
		button.declined, button.accepted{
			cursor: default;
		}
	}
	.name{
		font-size: 170%;
		font-weight:bold;
		margin-bottom: 5px;
	}
	ul.skills{
		float:left;
		width: 170px;
	}
	ul.skills li{
		width: 100%;
		clear:both;
		float:none;
		margin: 3px 0;
	}
	label{
		font-size: 1.5em;	
		width: 1.2em;
		display:inline-block;
		font-size: 1em;
	}
}