@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
.clear {
  clear: both; }

body {
  font-family: 'PT Sans Narrow', sans-serif; }

strong {
  font-weight: bold; }

button, button.disabled:hover {
  cursor: pointer;
  border: 1px solid #aaa;
  background: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ddd');
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background: -moz-linear-gradient(top, #eeeeee, #dddddd);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#eee');
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#eeeeee));
  background: -moz-linear-gradient(top, #dddddd, #eeeeee); }

button.disabled, button.disabled:hover {
  cursor: default;
  background: #ddd;
  color: #888; }

button.active, button.active:hover {
  cursor: default;
  background: blue;
  color: white; }

header {
  width: 100%;
  line-height: 2.5em;
  background-color: #2B2623;
  color: #f0f0f0; }

header h1 {
  font-size: 1.5em;
  margin: 0 .5ex; }

nav {
  padding: 0;
  height: 50px;
  -moz-box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
  font-size: 200%; }
  nav button {
    height: 40px;
    font-size: 70%; }
    nav button .val {
      position: relative;
      display: block;
      right: -20px;
      top: -6px;
      background-image: linear-gradient(bottom, #cd544a, #e39f9a);
      background-image: -o-linear-gradient(bottom, #cd544a, #e39f9a);
      background-image: -moz-linear-gradient(bottom, #cd544a, #e39f9a);
      background-image: -webkit-linear-gradient(bottom, #cd544a, #e39f9a);
      background-image: -ms-linear-gradient(bottom, #cd544a, #e39f9a);
      background-image: -webkit-gradient(linear, left bottom, left top, #cd544a, #e39f9a);
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      font-size: 60%;
      color: #fff;
      border: 1px solid #3a1410; }
  nav object {
    max-width: 30px;
    height: 30px; }
  nav ul {
    float: left; }
    nav ul li {
      height: 50px;
      padding-top: 5px;
      float: left;
      margin: 0 .2em; }
  nav ul#screens {
    float: right; }
  nav ul#stats {
    margin-right: 10px;
    float: right; }
    nav ul#stats object {
      margin-right: 5px;
      margin-left: 10px; }
  nav ul#dev {
    margin-right: 20px;
    float: right; }
    nav ul#dev button {
      background-image: linear-gradient(bottom, #f5ffad, #f9ffcb);
      background-image: -o-linear-gradient(bottom, #f5ffad, #f9ffcb);
      background-image: -moz-linear-gradient(bottom, #f5ffad, #f9ffcb);
      background-image: -webkit-linear-gradient(bottom, #f5ffad, #f9ffcb);
      background-image: -ms-linear-gradient(bottom, #f5ffad, #f9ffcb);
      background-image: -webkit-gradient(linear, left bottom, left top, #f5ffad, #f9ffcb); }
    nav ul#dev button:hover {
      background-image: linear-gradient(bottom, #f9ffcb, #f5ffad);
      background-image: -o-linear-gradient(bottom, #f9ffcb, #f5ffad);
      background-image: -moz-linear-gradient(bottom, #f9ffcb, #f5ffad);
      background-image: -webkit-linear-gradient(bottom, #f9ffcb, #f5ffad);
      background-image: -ms-linear-gradient(bottom, #f9ffcb, #f5ffad);
      background-image: -webkit-gradient(linear, left bottom, left top, #f9ffcb, #f5ffad); }

/* Canvas stuff */
#background {
  position: absolute;
  z-index: 0; }

#canvas {
  position: absolute;
  z-index: 10; }

/* Results */
#results {
  margin: 10px; }

h2 {
  font-size: 300%;
  font-weight: bold;
  margin: 20px 0 10px 20px; }

#results p {
  margin: 1em 0;
  font-size: 200%; }

/* Bid Meeting  */
#bidScreen ul.rushees li {
  width: 420px;
  float: left;
  margin: 20px; }
#bidScreen ul.rushees canvas.face {
  float: left;
  margin-right: 10px; }
#bidScreen ul.rushees button.bid {
  width: 100px;
  font-size: 1.2em;
  height: 1.5em;
  margin-top: 11px; }
#bidScreen ul.rushees p.interest {
  /* 			text-transform: uppercase; */
  font-size: .7em;
  text-align: center;
  width: 100px;
  display: inline-block; }
#bidScreen .name {
  font-size: 170%;
  font-weight: bold;
  margin-bottom: 5px; }
#bidScreen ul.skills {
  float: left;
  width: 170px; }
#bidScreen ul.skills li {
  width: 100%;
  clear: both;
  float: none;
  margin: 3px 0; }
#bidScreen label {
  font-size: 1.5em;
  width: 1.2em;
  display: inline-block;
  font-size: 1em; }
#bidScreen .bar {
  width: 120px;
  border-width: 1px;
  border-style: solid;
  display: inline-block; }
#bidScreen .fill {
  height: 1.1em; }
#bidScreen .rush .bar {
  border-color: #4e1a16;
  background-color: #fbf2f1; }
#bidScreen .rush .fill {
  background-color: #9e352c; }
#bidScreen .rush label {
  color: #4e1a16; }
#bidScreen .party .bar {
  border-color: #989b2a;
  background-color: #f8f8e5; }
#bidScreen .party .fill {
  background-color: #e6e8a9; }
#bidScreen .party label {
  color: #989b2a; }
#bidScreen .cs .bar {
  border-color: #0c1718;
  background-color: #ebf4f5; }
#bidScreen .cs .fill {
  background-color: #2e5a5c; }
#bidScreen .cs label {
  color: #0c1718; }
#bidScreen .study .bar {
  border-color: #5a9850;
  background-color: #f1f7f0; }
#bidScreen .study .fill {
  background-color: #93c28c; }
#bidScreen .study label {
  color: #5a9850; }
